<div class="container">

    <div class="d-flex justify-content-start mt-5">
        <h3>Add house</h3>
    </div>
   
    <form class="mt-3" #form="ngForm" (ngSubmit)="onFormSubmit()">

        <ng-container *ngIf="streets$ | async as streets">
            <div class="mt-3">
                <select class="form-select" id="house-street-id" name="house-street-id" [(ngModel)]="house.streetId" required>
                    <option selected value="-1">Select a street</option>
                    <option *ngFor="let street of streets" value="{{street.id}}">{{street.streetName + ', ' + street.cityName}}</option>
                </select>
            </div>
        </ng-container>
        
        <div class="form-floating mt-3">
            <input type="text" class="form-control" id="house-number" name="house-number" placeholder="House number" [(ngModel)]="house.houseNumber" required>
            <label for="house-number">House number</label>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-success me-2">Add</button>
            <a class="btn btn-danger" [routerLink]="['/admin/houses']" role="button">Cancel</a>
        </div>
    </form>
    
</div>