/* Головний контейнер для всього додатка */
.app-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  height: 100vh;
}

/* Контейнер для контенту */
.content-container {
  margin-left: 60px;
  padding: 30px;
  background-color: #f9f9f9;
  overflow-y: auto; 
  min-height: 100vh;
}


/* client.table.component.css */
.client-table {
  margin: 30px auto; /* Додаємо відступи зверху/знизу */
  padding: 15px; /* Збільшуємо внутрішні відступи */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь для покращення вигляду */
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; /* Автоматичний розподіл ширини колонок */
}

table th, table td {
  padding: 14px 16px; /* Більший відступ у комірках */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #333;
  color: white;
}

table tr:hover {
  background-color: #f1f1f1;
}

  /* Стиль для загальної кнопки додавання */
  .add-button {
    background-color: #007bff; /* Синій фон */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
  }

.add-button:hover {
  background-color: #0056b3;
}

.add-button i {
  font-size: 16px; /* Розмір іконки */
}

/* Стиль для кнопок дій (редагувати, видалити) */
.edit-button,
.delete-button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-button {
  background-color: #2196F3;
  color: white;
}

.edit-button:hover {
  background-color: #1976D2;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.delete-button:hover {
  background-color: #d32f2f;
}
