
.client-table {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid $border-color;
}

table th {
    background-color: $background-color-th;
}

table tr:hover {
    background-color: $table-hover-color;
}

.add-button {
    @include button-styles($primary-color, white);
}

.edit-button {
    @include button-styles($secondary-color, white);
}

.delete-button {
    @include button-styles($delete-color, white);
}
