<div class="container">

    <div class="d-flex justify-content-start mt-5">
        <h3>Add street</h3>
    </div>
   
    <form class="mt-3" #form="ngForm" (ngSubmit)="onFormSubmit()">

        <ng-container *ngIf="cities$ | async as cities">
            <div class="mt-3">
                <select class="form-select" id="street-city" name="street-city" [(ngModel)]="street.cityId" required>
                    <option selected value="-1">Select a city</option>
                    <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
                </select>
            </div>
        </ng-container>
        
        <div class="form-floating mt-3">
            <input type="text" class="form-control" id="street-name" name="street-name" placeholder="Street name" [(ngModel)]="street.name" required>
            <label for="street-name">Street name</label>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-success me-2">Add</button>
            <a class="btn btn-danger" [routerLink]="['/admin/streets']" role="button">Cancel</a>
        </div>
    </form>
    
</div>