/* Стилі для бічної панелі */
.navbar {
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-bottom: 10px;
}

.navbar button {
  width: 100%;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: left;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #555;
}

.navbar-header {
  text-align: center;
  margin-bottom: 20px;
}

.navbar-logo {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.navbar-header h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.navbar-footer {
  text-align: center;
  font-size: 12px;
  color: #aaa;
}